BACKEND_PROJ_SECRET_KEY =
ALGORITHM =HS256
ACCESS_TOKEN_EXPIRES = 30
REFRESH_TOKEN_EXPIRES = 1 #in days
SMTP_SERVER = smtp.gmail.com
SMTP_PORT = 587
BACKEND_PROJ_SENDER_EMAIL =
BACKEND_PROJ_SENDER_PASSWORD =
